.layer-0 {
z-index: 0;
pointer-events: none;
}
.layer-1 {
z-index: 1;
pointer-events: none;
}
.layer-2 {
z-index: 2;
pointer-events: none;
}
.interactive-layer-50{
z-index: 50;
}
.layer-50 {
z-index: 50;
pointer-events: none;
}
.layer-51 {
z-index: 51;
pointer-events: none;
}

.simple-centered {
  text-align: center;
}

.menu-container {
    top: 20vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    min-width: 60vh;
    max-width: 60vh;
    min-height: 60vh;
    max-height: 60vh;
    z-index: 500;
  }
