* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Unifraktur';
  src: url('../fonts/UnifrakturCook-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.unifrakturFont {
  font-family: 'Unifraktur', sans-serif;
}

.layer-0 {
  z-index: 0;
  pointer-events: none;
}

.layer-1 {
  z-index: 1;
  pointer-events: none;
}

.layer-2 {
  z-index: 2;
  pointer-events: none;
}

.interactive-layer-50{
  z-index: 50;
}

.layer-50 {
  z-index: 50;
  pointer-events: none;
}

.layer-51 {
  z-index: 51;
  pointer-events: none;
}

.interactive-layer-1000 {
  z-index: 1000;
}

.simple-centered {
  text-align: center;
  font-size: calc(var(--vh, 1vh) * 4);
}

.menu-container {
  top: calc(var(--vh, 1vh) * 20);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  min-width: calc(var(--vh, 1vh) * 60);
  max-width: calc(var(--vh, 1vh) * 60);
  min-height: calc(var(--vh, 1vh) * 60);
  max-height: calc(var(--vh, 1vh) * 60);
  z-index: 500;
}

/*======================
    Mobile Formatting
========================*/

@media (orientation: portrait) {
  .menu-container {
    top: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    min-width: 60vw;
    max-width: 60vw;
    min-height: 60vw;
    max-height: 60vw;
    z-index: 500;
  }
}
