body {
  overflow-y: hidden;
  overflow-x: hidden;
}

@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.episode-nav-button {
  width: calc(var(--vh, 1vh) * 10);
  height: calc(var(--vh, 1vh) * 10);
  z-index: 1005;
}

.episode-nav-button:hover {
  cursor: pointer;
  filter: hue-rotate(180deg) saturate(5) brightness(0.95);
  transform: scale(1.1);
  z-index: 10000;
}

.episode-nav-stack {
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: row;
  transform: translate(23.5%, 43%);
  width: calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  z-index: 1005;
}

.episodeVideo {
  /* border: solid; */
  width: calc(var(--vh, 1vh) * 29);
  height: calc(var(--vh, 1vh) * 29);
  padding: 0.000001%;
}

.episode-container {
  border: none;
  top: calc(var(--vh, 1vh) * 20);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  min-width: calc(var(--vh, 1vh) * 62);
  max-width: calc(var(--vh, 1vh) * 62);
  min-height: calc(var(--vh, 1vh) * 62);
  max-height: calc(var(--vh, 1vh) * 62);
  z-index: 0;
}



/*======================
    Mobile Formatting
========================*/

@media (orientation: portrait) {
  .episode-nav-button {
    width: 10vw;
    height: 10vw;
    z-index: 1005;
  }

  .episode-nav-stack {
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: row;
    transform: translate(45%, 135%);
    width: 50vw;
    height: 50vw;
    z-index: 1005;
  }

  .episodeVideo {
    /* border: solid; */
    width: 29vw;
    height: 29vw;
    padding: 0.000001%;
  }

  .episode-container {
    border: none;
    top: 50%;
    transform: translate(-50%, -48.5%);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    min-width: 61.5vw;
    max-width: 61.5vw;
    min-height: 61.5vw;
    max-height: 61.5vw;
    z-index: 1;
  }

}
