body {
  overflow-y: hidden;
  overflow-x: hidden;
}

@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.episode-nav-button {
  width: 10vh;
  height: 10vh;
  z-index: 1005;
}

.episode-nav-button:hover {
  cursor: pointer;
  filter: hue-rotate(180deg) saturate(5) brightness(0.95);
}

.episode-nav-stack {
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: row;
  transform: translate(23.5%, 43%);
  width: 100vh;
  height: 100vh;
  z-index: 1005;
}

.episodeVideo {
  height: 100vh;
  width: auto;
}

/*======================
    Mobile Formatting
========================*/

@media (orientation: portrait) {
  .episode-nav-button {
    width: 10vw;
    height: 10vw;
    z-index: 1005;
  }

  .episode-nav-stack {
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: row;
    transform: translate(45%, 135%);
    width: 50vw;
    height: 50vw;
    z-index: 1005;
  }

  .episodeVideo {
    width: 100vw;
    height: auto;
  }
}
