@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .Title-logo{
    animation: Title-logo-spin infinite 4s cubic-bezier(0.23, 1, 0.320, 1);
  }
}

@keyframes Title-logo-spin {
  from {
    height: auto;
    width: 95vh;
  }
  to {
    height: auto;
    width: 105vh;
  }
}

.layer-0 {
  z-index: 0;
  pointer-events: none;
}
.layer-1 {
  z-index: 1;
  pointer-events: none;
}
.layer-2 {
  z-index: 2;
  pointer-events: none;
}
.layer-50 {
  z-index: 50;
  pointer-events: none;
}
.layer-51 {
  z-index: 51;
  pointer-events: none;
}

@media (orientation: landscape) {
  .center-home {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 100vh;
  }
}

@media (orientation: portrait) {
  .center-home {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 100vw;
  }
}

.offset-bg-right {
  padding-left:80vw;
}

.offset-bg-left {
  padding-right:80vw;
}

.bind-bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
}

.bg-align {
  width: 100vh;
  height: 100vh;
  z-index: 5;
}

.menu-container {
  top: 20vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  min-width: 60vh;
  max-width: 60vh;
  min-height: 60vh;
  max-height: 60vh;
  z-index: 500;

}

.image-button-episodes {
  z-index: 2;
  width: 75vh;
  height: 15vh;
}

.image-button-episodes:hover {
  cursor: pointer;
  content: url('https://i.imgur.com/Ce4NMJ4.png');
}

.image-button-premium {
  z-index: 2;
  width: 75vh;
  height: 15vh;
}

.image-button-premium:hover {
  cursor: pointer;
  content: url('https://i.imgur.com/b8CvcMX.png');
}

.image-button-merch {
  z-index: 2;
  width: 75vh;
  height: 15vh;
}

.image-button-merch:hover {
  cursor: pointer;
  content: url('https://i.imgur.com/3JhojrH.png');
}

.image-button-about {
  z-index: 2;
  width: 75vh;
  height: 15vh;
}

.image-button-about:hover {
  cursor: pointer;
  content: url('https://i.imgur.com/lWLPQc5.png');
}

.spin-hover:hover {
  transform: rotate(3.5deg);
}



.info-box {
  border: 8px solid #000000;
  background-color: white;
  z-index: 49;
  min-width: 54vh;
  max-width: 54vh;
  min-height: 54vh;
  max-height: 54vh;
}
.closeButton {
  position: absolute;
  z-index: 100;
}
.text-heading {
  z-index: 5;
  position: relative;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 5vh;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.side-menu {
  position: fixed;
  z-index: 55;
  width: 54vh;   
  height: 100vh;   
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.side-menu:hover {
  background-color: rgb(91, 114, 148);
  border-right: 5px solid black;
}

/* .side-menu-button {
  border: 5px solid black;
  height: 10vh;
  padding: 20px;

} */

.side-menu:hover > .side-menu-button {
  border: 5px solid black;
  height: 10vh;
}

.side-menu-button:hover {
  background-color: rgb(67, 39, 100);
  cursor: pointer;
}

.episodes-container {
  z-index: 49;
  min-width: 54vh;   
  max-width: 54vh;   
  min-height: 54vh;   
  max-height: 54vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.episode {
  border: 5px solid black;
  height: 10vh;
  background-color: rgb(67, 39, 100);
}

.episode:hover {
  cursor: pointer;
  filter: grayscale(70%);
}