.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.yonderFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  height: 1050px;
  z-index: 0;
  pointer-events: none;
  z-index: 100;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  gap: 0.5em;
  width: 610px;
  height: 610px;
  border: solid;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.episodeButton {
  z-index: 1;
}

.episodeButton:hover {
  filter: grayscale(60%) drop-shadow(0 0 2em #646cffaa);
  z-index: 1;
  cursor: pointer;
}

.merchButton {
  z-index: 1;
}

.merchButton:hover {
  filter: grayscale(60%) drop-shadow(0 0 2em #646cffaa);
  z-index: 1;
  cursor: pointer;
  transform: rotate(10deg);
}

.aboutButton {
  z-index: 1;
}

.circleBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  height: 1050px;
  z-index: 0;
}

.aboutButton:hover {
  filter: grayscale(60%) drop-shadow(0 0 2em #646cffaa);
  z-index: 3;
  cursor: pointer;
}




.darkButton {
  z-index: 1;
}

.darkButton:hover {
  filter: grayscale(60%) drop-shadow(0 0 2em #646cffaa);
  cursor: pointer;
  z-index: 1;
}

.yonderTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
  height: 1050px;
  z-index: 0;
}

.closeButton {
  position: relative;
  left: 560px;
  top: -4490px;
  z-index: 3;
}

.rectangle {
  position: relative;
  top: -3895px;
  width: 580px;
  height: 580px;
  border: 10px solid #000000;
  background-color: #f7f7f7;
  z-index: 2;
}
.textHeading {
  z-index: 5;
  position: relative;
  top: -4500px;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align:
  center;
}
