@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .Title-logo{
    animation: Title-logo-spin infinite 4s cubic-bezier(0.23, 1, 0.320, 1);
  }
}

@keyframes Title-logo-spin {
  from {
    height: auto;
    width: 95vh;
  }
  to {
    height: auto;
    width: 105vh;
  }
}

/* .yonder-title {
  transform:translate(+25%, +25%) scale(1);
} */

.layer-0 {
  z-index: 0;
  pointer-events: none;
}
.layer-1 {
  z-index: 1;
  pointer-events: none;
}
.layer-2 {
  z-index: 2;
  pointer-events: none;
}
.layer-50 {
  z-index: 50;
  pointer-events: none;
}
.layer-51 {
  z-index: 51;
  pointer-events: none;
}

.center-home {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-left: auto;
  margin-right: auto;
  width: 100vh;
  height: 100vh;
}
.offset-bg-right {
  padding-left:80vw;
}
.offset-bg-left {
  padding-right:80vw;
}

.menu-container {
  top: 23vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  min-width: 60vh;   
  max-width: 60vh;   
  min-height: 60vh;   
  max-height: 60vh;
  z-index: 1;

}

.image-button {
  z-index: 2;
  width: 27vh;
  height: 27vh;
}

.image-button:hover {
  filter: grayscale(60%) drop-shadow(0 0 2em #646cffaa);
  cursor: pointer;
}

.spin-hover:hover {
  transform: rotate(10deg);
}



.info-box {
  border: 8px solid #000000;
  background-color: white;
  z-index: 49;
  min-width: 54vh;   
  max-width: 54vh;   
  min-height: 54vh;   
  max-height: 54vh;
}
.closeButton {
  position: absolute;
  z-index: 100;
}
.text-heading {
  z-index: 5;
  position: relative;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 5vh;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
