.offset-bg-right {
  padding-left:80vw;
}

.offset-bg-left {
  padding-right:80vw;
}

.bind-bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
}

.bind-bg-premium {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
  filter: hue-rotate(0deg);
  animation: hueRotate 3s linear infinite;
}

.bind-grass-bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
}

.bind-grass-bg-premium {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
  filter: hue-rotate(0deg);
  animation: hueRotate 3s linear infinite;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.bg-align {
  width: 100vh;
  height: 100vh;
  z-index: 5;
}

.home-bg-video {
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-frame {
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

/*======================
    Mobile Formatting
========================*/

@media (orientation: portrait) {
  .bind-bg {
    z-index: 5;
    width: 100vw;
    height: 100vw;
    max-width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .bind-grass-bg {
    z-index: 5;
    width: 100vw;
    height: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .bind-bg-premium {
    z-index: 5;
    width: 100vw;
    height: 100vw;
    max-width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: hue-rotate(0deg);
    animation: hueRotate 3s linear infinite;
  }

  .bind-grass-bg-premium {
    z-index: 5;
    width: 100vw;
    height: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: hue-rotate(0deg);
    animation: hueRotate 3s linear infinite;
  }

  .home-bg-video {
    position: fixed;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 1000vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .home-frame {
    position: fixed;
    min-height: 100vw;
    max-height: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
